@import "./../../styles/scss/_vb.scss";

.overlay-popup-close {
  display: none;
}
.overlay-popup {
  background-color: rgba(0, 0, 0, 0.61);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.popup-box-conitent {
  background: $white;
  z-index: 9999999;
  max-width: 420px;
  height: auto;
  margin: 0 auto;
  padding: 15px 15px;
  z-index: 9999999;
  margin-top: 10vh;
  border-radius: 3px;
}
.popup-profile-image {
  border-radius: 100%;
  width: 50px;
}
.card-fakeimage {
  width: 50px;
  height: 50px;
  float: left;
}
.popup-profile-name {
  padding: 0px;
  margin: 0px;
}

.pop-profile-id {
  padding: 0px;
  margin: 0px;
  margin-right: 10px;
  float: left;
}

.popup-content {
  clear: both;
  margin-top: -0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.popup-profile-post {
  margin: 0px;
  margin-top: 10px;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  color: $white;
  font-size: 24px;
  transition: all 0.1s;
  cursor: pointer;
}

.close :hover {
  color: $white;
}

@media (max-width: 720px) {
  .popup-box-conitent {
    margin-top: 5vh;
    max-width: 300px;
  }
}
