@import './../../../styles/scss/_vb.scss';

.panal{
    background: $white;
    border: 1px solid $low_ash;
    border-radius: 2px;
    padding: 15px 15px;
    position: relative;
    margin: 10px 0px 10px 0px;
    
}