.f-z-64 {
  font-size: 64px;
  letter-spacing: 1px;
}

.f-z-24 {
  font-size: 24px;
  letter-spacing: 1px;
}

.f-z-16 {
  font-size: 16px;
}
.f-z-14 {
  font-size: 14px;

}
.f-z-13 {
  font-size: 13px;

}
.f-z-12 {
  font-size: 12px;
}
.f-z-11 {
  font-size: 11px;
}
.f-w-bold {
  font-weight: 900;
}
.f-w-medium {
  font-weight: 500;
}

.f-w-regular {
  font-weight: 400;
}
.f-w-light {
  font-weight: 300;
}

.f-c-white{
 color: $white;
}

.f-c-dark-blue{
 color: $dark_blue;
}
.f-c-light-blue{
color: $light_purple;
}
.f-c-light-ash{
  color: $dark_ash;
}
.f-c-dark-ash{
  color:$ash;
}
.l-s-1{
  letter-spacing: 1px;
}
.l-s-2{
  letter-spacing: 2px;
}