
$dark_blue    :          #0654db;
$dark_blue-tp :          #045ffd;
$twitter-blue :          #1ab7ea;
$light_purple :          rgba(40,57,101,.9);
$ash          :          #585858;
$dark_ash     :          #aaaaaa;
$low_ash      :          #eaeaea;
$white        :          #FFFFFF;


  
