.navbar {
  overflow: hidden;
  background-color: #FFFFFF;
  height: 60px;
  top: 0;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #eaeaea;
  z-index: 999999; }

.login-user {
  float: right;
  margin-top: -28px;
  right: 80px;
  position: absolute; }

.logout-button {
  cursor: pointer; }

.nav-info {
  padding-right: 40px; }

.logout {
  float: right;
  width: 20px;
  margin-left: 20px;
  margin-top: -30px; }

.nav-brand {
  padding-left: 40px;
  margin-top: 15px; }

@media (max-width: 720px) {
  .navbar {
    position: fixed; } }
